
.AboutUs h1.headingLg{
    margin: auto;
    margin-bottom: 10rem;
    width: 142rem;
}
.AboutUs .section {
    position: relative;
}
.AboutUs .section .container{
    margin: auto;
    position: relative;
    z-index: 11;
    width: 1420px;
    gap: 6rem;
} 
.AboutUs .section img{
    width: 61.6rem;
    height: 46.9rem;
}
.AboutUs .section p:nth-child(3){
    margin-top: auto;
    margin-bottom: 2.5rem;
}
.AboutUs .section2 .container{
    gap: 9.4rem;
}
.AboutUs .section2 p{
    width: 33.6rem;
}
.AboutUs .section2 .serviceDetails{
    width: -webkit-fill-available;
}
.AboutUs .section2 .serviceDetails p:nth-child(2){
    margin-top: 7rem;
    margin-left: auto;
}
.AboutUs .section2 img{
    height: 61.8rem;
}
.AboutUs .section2 .bg{
    height: 40.9rem;
    position: absolute;
    background: #F9F9F9;
    width: 100%;
    top: -10rem;
    
}
p.text2.liP::before{
    content: "";
    width: .8rem;
    height: .8rem;
    display: flex;
    border-radius: 100%;
    background: #193760;
    position: relative;
    top: -1rem;
    }


.Partners h1{
    text-align: center;
    gap: 3rem;
    align-items: center;
    margin-bottom: 1rem;
}
.Partners .member {
    margin-bottom: 10rem;
    position: relative;
}
.Partners .member .bg {
    width: 100%;
    height: 47rem;
    position: absolute;
    bottom: -10rem;
    background: #F9F9F9;
}
.Partners .member3 .bg {
    height: 56.1rem;
}
.Partners .member .container{
    gap: 8.3rem;
    width: 142rem;
    margin: auto;
    position: relative;
    z-index: 11;
}
.Partners .member .container .image{
    width: 50.3rem;
    
}
.Partners .member .container .image img{
    margin-bottom: 4rem;
}
.Partners .member .container .image h2{
    margin-bottom: 1rem;
    padding: 0 4.4rem;
}
.Partners .member .container .image div{
    padding: 0 4.4rem;
}


@media screen and (max-width : 1500px) {
    .AboutUs h1.headingLg,
    .AboutUs .section .container{
        width: 95%;
    }
    .Partners .member .container .image > img{
        width: 50.3rem;
    }
    .AboutUs .section img {
        width: 33%;
        object-fit: cover;
    }
    .AboutUs .section2 img {
        width: 40%;
    }
    .Partners .member .container{
        width: 95%;
    }
    
}

@media screen and (max-width : 1250px) {
    .Partners .member .container .image > img {
        width: 45rem;
    }
    .Partners .member .container .image div,
    .Partners .member .container .image h2{
        padding: 0 2rem;
    }
    .AboutUs .section .container,
    .Partners .member .container {
        gap: 5rem;
    }
}
@media screen and (max-width : 950px) {
    .AboutUs .section .container, .Partners .member .container{
        align-items: center;
        flex-direction: column;
    }
    .Partners .member .container,
    .AboutUs h1.headingLg, .AboutUs .section .container{
        width: 70rem;
    }
    .AboutUs .section img{
        width: 100%;
    }
    .AboutUs .section2 .serviceDetails{

    }
    .AboutUs .section2 .bg{
        top: initial;
        bottom: 10rem;
    }
    .Partners h1{
        align-items: center;
    }
}

@media screen and (max-width : 768px) {
    .Partners .member .container, .AboutUs h1.headingLg, .AboutUs .section .container{
        width: 95%;
    }
    .AboutUs .section2 p{
        width: 100%;
    }
    .Partners .member .container .image{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .Partners .member .container .image div, .Partners .member .container .image h2{
        width: 100%;
    }
    
}
@media screen and (max-width : 550px) {
    .Partners .member .container .image{
        width: 100%;
    }
    .Partners .member .container .image > img{
        width: 100%;
    }
}